<p>
  Aqui ira el formulario para actulizar un cliente en ambiente angular
</p>
<h3>Escribe un identificador para buscar</h3>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Escribe el identificador a buscar" name="cliente.ident" [(ngModel)]="cliente.ident">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="buscarPorId()">Buscar cliente</button>
</form>
<form class="example-form" *ngIf="encontrado">
 
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Escribe tu nombre" name="cliente.nombre" [(ngModel)]="cliente.nombre">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Escribe tu mail" name="cliente.mail" [(ngModel)]="cliente.mail">

  </mat-form-field>
  <h3>Datos de Dirección</h3>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Escribe el mobre de la calle" name="cliente.direccion.calle"
      [(ngModel)]="cliente.direccion.calle">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Escribe el código postal" name="cliente.direccion.cp" [(ngModel)]="cliente.direccion.cp">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Escribe el Municipio" name="cliente.direccion.municipio"
      [(ngModel)]="cliente.direccion.municipio">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="actualizar()">ACTUALIZAR CLIENTE</button>
</form>